.imgUser {
    max-width: 10%;
    max-height: 10%;
    //background-color: black;
}

.sectionNavBar{
    background-color: #000000;
    
}

.navBarColor{
    //color: yellow;

}

.nav-link , .navbar-nav,.navbar-nav-scroll,.navbar-collapse{
    color: yellow;

}

.userMenu{
    color: white;
    background-color: black;

}